@import "./components/form.scss";
@import "./components/project.scss";
@import "./components/todo.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-family: 'Montserrat', ;
}

#app {
    background-color: rgb(209, 209, 209);
    display: flex;
    height: 100vh;
}

button {
    background-color: transparent;
    padding: 5px;
    font-size: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

li {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 10px;
    &-thumb {
        background: lighten(#36373F, 20%);
        border-radius: 0px;
    }
}

.sidebar {
    position: relative;
    top: -15px;
    height: calc(100vh + 15px);
    padding-top: 15px;
    width: 250px;
    margin-right: 10px;
    background-color: #36373F;
    box-shadow: 2px 2px 2px gray;
    color: white;
    overflow-y: scroll;
    overflow-y: overlay;
    overflow-x: visible;
    &::-webkit-scrollbar {
        width: 10px;
        &-thumb {
            background: #D4DAF1;
            border-radius: 0px;
        }
    }
}

.projects-header {
    width: 100%;
    padding: 5px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    #new-project {
        border: none;
        color: rgb(200,200,200);
        &:hover {
            color: white;
        }
    }
}

.todos-container {
    overflow-y: scroll;
    overflow-x: auto;
    padding: 80px 20px 20px 0px;
    margin-left: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    .no-project-notification {
        position: relative;
        top: -50px;
        .new-project {
            position: relative;
            color: white;
            padding: 5px;
            cursor: pointer;
            background-color: #333;
        }
    }
    #add-todo {
        position: absolute;
        left: 0;
        top: 20px;
        padding: 10px;
        align-self: center;
        background-color: white;
        border-left: 5px solid #36373F;
        box-shadow: 2px 2px 3px #aaa;
        color: black;
        margin-bottom: 10px;
    }
}

.project-container {
    margin-top: 5px;
    width: 100%;
}

.form-container {
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
}