
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

#app {
    background-color: rgb(243, 243, 243);
    display: flex;
    height: 100vh;
}

button {
    background-color: white;
    padding: 5px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
    }
}

.sidebar {
    background-color: rgba($color: #cad8f1, $alpha: 1.0);
    padding: 20px;
}

.todos-container {
    overflow: scroll;
    padding: 20px;
    flex: 1;
    .todo {
        background-color: rgb(250,250,250);
        border-left: 7px solid orange;
        box-shadow: 2px 2px 2px #aaa;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            background-color: white;
        }
        .todo-info {
            .todo-title {
                display: inline-block;
            }
            .todo-duration {
                color: gray;
                font-size: 12px;
            }
            .todo-priority {
                display: block;
                margin-top: 5px;
                & > * {
                    display: inline-block;
                }
                &-marker {
                    height: 10px;
                    width: 10px;
                    border-radius: 10px;
                    background-color: orange;
                    margin-right: 5px;
                }
            }
        }
        .todo-options {
            
            .edit-todo {
                background-color: rgb(87, 171, 255);
            }
            .delete-todo {
                background-color: red;
                color: white;
            }
        }
    }
}

.project {
    background-color: pink;
    margin-bottom: 2px;
    padding: 10px;
    &:hover {
        cursor: pointer;
        background-color: white;
    }
    &.selected {
        background-color: rgb(255, 220, 226);
    }
}

#add-todo-form-container {
    display: none;
}

.form-container {
    display: none;
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
    .form {
        background-color: white;
        width: 500px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 3px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        .close-form-button {
            background-color: red;
            border: 1px solid black;
            padding: 10px;
            color: white;
            width: 100px;
        }
        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
        input[type="text"] {
            padding: 5px;
        }
        input[type="submit"] {
            padding: 10px;
        }
        input[type="number"] {
            display: inline-block;
            width: 100px;
        }
        #tod
        .radio-buttons {
            display: inline-block;
        }
        .form-errors {
            font-size: 14px;
            color: red;
        }
    }
}